<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jetpackprosubmission">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.jetpackprosubmission.ui.home.HomeActivity" />
        <activity
            android:name="com.example.jetpackprosubmission.ui.movie.MovieDetailActivity"
            android:label="@string/title_activity_detail_movie"
            android:parentActivityName="com.example.jetpackprosubmission.ui.home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jetpackprosubmission.ui.home.HomeActivity" />
        </activity>
        <activity
            android:name="com.example.jetpackprosubmission.ui.tvshow.TvShowDetailActivity"
            android:label="@string/title_activity_detail_tvshow"
            android:parentActivityName="com.example.jetpackprosubmission.ui.home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jetpackprosubmission.ui.home.HomeActivity" />
        </activity>
        <activity
            android:name="com.example.jetpackprosubmission.ui.favorite.FavoriteActivity"
            android:label="@string/favorite"
            android:parentActivityName="com.example.jetpackprosubmission.ui.home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jetpackprosubmission.ui.home.HomeActivity" />
        </activity>
        <activity
            android:name="com.example.jetpackprosubmission.ui.splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>